/* Initial setting goes here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: white;
}

button {
  padding: 2rem 6rem;
  background: #f0b13c;
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  font-family: "Yellowtail", cursive;
  transition: background ease-in-out 0.35s;
}

button:hover {
  background: orangered;
}

/* Navigation header goes here */
.main-nav {
  background: rgb(233, 193, 193);
  color: white;
}

nav {
  display: flex;
  min-height: 10vh;
  width: 90%;
  padding: 2rem;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  flex: 3 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

nav ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}

/* Main content goes here */
.hero {
  background: linear-gradient(rgba(241, 226, 194, 0.5), transparent), url(img/landing-page.jpg);
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* Span wordings */
.afford {
  font-size: 2rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#logo-2 {
  font-family: "Pattaya", sans-serif;
  color: rgb(250, 57, 89);
  margin-left: 0.5rem;
}

/* DESTINATION SECTION */
#destination {
  min-height: 100vh;
  background: linear-gradient(rgba(241, 241, 201, 0.5), transparent), url(img/shanghai.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  font-family: "Pattaya", sans-serif;

  z-index: -2;
  overflow: hidden; /* fix the bug where cloud will go beyond the blank space on both mobile and desktop browser */
}

.destination-head {
  width: 90%;
  margin: auto;
}

.destination-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
}

.destination-head h3 {
  padding: 2rem 0rem;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;

  /* ONLY WORK IN FIREFOX */
  /* Clip the text with this background color & make the text go transparent */
  /* background: linear-gradient(#131c27, #4793e3);
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.destination-head p {
  font-family: "Poppins", sans-serif;
  padding-top: 2rem;
}

.china {
  font-family: "Pattaya", sans-serif;

  background: linear-gradient(to right bottom, #fdcf00, #ee2828);
  -webkit-background-clip: text;
  color: transparent;
}

.korea {
  font-family: "Pattaya", sans-serif;

  background: linear-gradient(to right, #216bda, rgb(173, 170, 170), #f51414);
  -webkit-background-clip: text;
  color: transparent;
}

.japan {
  font-family: "Pattaya", sans-serif;

  background: linear-gradient(to right, rgb(0, 0, 0), #ff0101, rgb(0, 0, 0));
  -webkit-background-clip: text;
  color: transparent;
}

.sea {
  font-family: "Pattaya", sans-serif;
  background: linear-gradient(to right, #645106, rgb(17, 146, 5), #f0600d);
  -webkit-background-clip: text;
  color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  animation: cloudAnimation 4s ease-in-out alternate;
  animation-iteration-count: infinite;
}

.moving-cloud-1 {
  z-index: 0;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.75;
}

/* MAKE THE CLOUD COMING OUT FROM TOP RIGHT */
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

/* PACKAGES SECTION */
.packages {
  background: linear-gradient(rgba(241, 226, 194, 0.5), transparent), url(img/dongdaemun-gu.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.packages-head {
  padding: 3rem;
  min-height: 20vh;
  background: rgb(233, 193, 193);
  color: white;

  font-family: "Pattaya", sans-serif;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.packages-head h3 {
  font-family: "ZCOOL QingKe HuangYou", cursive;
}

.card-group {
  font-family: "ZCOOL QingKe HuangYou", cursive;
  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* MOBILE RESPONSIVE */
  flex-wrap: wrap;
}

.card-group h4 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  padding: 2rem 2rem;
  background: white;
}

.card-group p {
  font-size: 1.35rem;
  font-family: "Poppins", sans-serif;
  padding: 2rem 2rem;
  background: white;
}

.card {
  /* Box shadow is causing overflow bug due to overlap background image*/
  /* box-shadow: 0 10px 45px 0px rgba(159, 155, 155, 0.75);
  -webkit-box-shadow: 13px 10px 45px 0px rgba(159, 155, 155, 0.75);
  -moz-box-shadow: 13px 10px 45px 0px rgba(159, 155, 155, 0.75); */

  margin: 2rem 5rem;
  flex: 1 1 25rem;
  min-height: 45vh;
}

.card h4,
.card p {
  padding: 1rem;
}

.card-icon {
  background: rgb(233, 193, 193);
}

.card img {
  padding: 1.5rem 1.5rem;
  height: 15rem;
  width: 15rem;
}

/* Media queries goes here */
@media screen and (max-width: 760px) {
  .cloud {
    height: 30rem;
    right: 0%;
  }
}

/* Media queries goes here */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }

  #logo {
    padding: 2rem;
  }

  /* DESTINATION SECTION */
  .cloud {
    height: 35rem;
    right: 0%;
    /* pointer-events: none; */
  }

  .moving-cloud-2 {
    top: 7.5%;
    opacity: 0.75;
  }

  .destination-head h2 {
    font-size: 4rem;
    padding: 2rem;
    background: rgba(19, 28, 39, 0.3);
    -webkit-text-fill-color: white;
  }

  .destination-head h3 {
    font-size: 2.2rem;
    padding: 2rem;
    background: rgba(19, 28, 39, 0.3);
    -webkit-text-fill-color: white;
  }

  .destination-head p {
    font-size: 2.2rem;
    padding: 2rem;
    background: rgba(19, 28, 39, 0.3);
    -webkit-text-fill-color: white;
  }

  /* PACKAGES SECTION */
  .card {
    margin: 5rem 2rem;
  }

  .card h4,
  .card p {
    padding: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  /* DESTINATION SECTION */
  .cloud {
    height: 40rem;
    right: 0%;
  }

  .moving-cloud-2 {
    top: 12.5%;
    opacity: 0.5;
  }
}
